.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Adjust height if you want */
  }
  
  .home-title {
    font-size: 2rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    color: #1f2937; /* text-gray-800 */
    text-align: center;
  }
  